/* Generics */

/* # COUNTDOWN */

#countdown {
  font-weight: bolder;
  font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
  font-size: 3rem;
}

input {
  width: 80px !important;
}

.progress-bar {
  border: 1px solid grey;
  height: 20px;
  width: 100%;
  border-radius: 25rem;
}

.progress {
  border-radius: 25rem;
  height: 20px;
  transition: width 1s linear, background-color 10s linear;
}
